version: "3.1"

services:
  pfadimh-mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    ports:
      - 27017:27017
    volumes:
      - ./data:/data/db
  pfadimh-azurite:
    image: mcr.microsoft.com/azure-storage/azurite
    container_name: "azurite"
    hostname: azurite
    restart: always
    environment:
      AZURITE_ACCOUNTS: root:ZXhhbXBsZQ==
      PUBLIC_ACCESS: blob
    ports:
      - "10000:10000"
      - "10001:10001"
      - "10002:10002"
