version: '3.8'

services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    volumes:
      - ../:/app:cached
    command: sleep infinity
    environment:
      - DATABASE_TYPE=mongodb
      - MONGODB_CONNECTION_STRING=mongodb://root:example@mongo:27017
      - MONGODB_DB_NAME=pfadimh-db
    depends_on:
      - mongo
    ports:
      - "3000:3000"
      - "6006:6006"

  mongo:
    image: mongo
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: example
    volumes:
      - mongo-data:/data/db

volumes:
  mongo-data:
