:root {
  --cn-background: oklch(1 0 0);
  --cn-foreground: oklch(0.145 0 0);
  --cn-card: oklch(1 0 0);
  --cn-card-foreground: oklch(0.145 0 0);
  --cn-popover: oklch(1 0 0);
  --cn-popover-foreground: oklch(0.145 0 0);
  --cn-primary: oklch(0.205 0 0);
  --cn-primary-foreground: oklch(0.985 0 0);
  --cn-secondary: oklch(0.97 0 0);
  --cn-secondary-foreground: oklch(0.205 0 0);
  --cn-muted: oklch(0.97 0 0);
  --cn-muted-foreground: oklch(0.556 0 0);
  --cn-accent: oklch(0.97 0 0);
  --cn-accent-foreground: oklch(0.205 0 0);
  --cn-destructive: oklch(0.577 0.245 27.325);
  --cn-destructive-foreground: oklch(0.577 0.245 27.325);
  --cn-border: oklch(0.922 0 0);
  --cn-input: oklch(0.922 0 0);
  --cn-ring: oklch(0.708 0 0);
  --cn-chart-1: oklch(0.646 0.222 41.116);
  --cn-chart-2: oklch(0.6 0.118 184.704);
  --cn-chart-3: oklch(0.398 0.07 227.392);
  --cn-chart-4: oklch(0.828 0.189 84.429);
  --cn-chart-5: oklch(0.769 0.188 70.08);
  --cn-radius: 0.625rem;
  --cn-sidebar: oklch(0.985 0 0);
  --cn-sidebar-foreground: oklch(0.145 0 0);
  --cn-sidebar-primary: oklch(0.205 0 0);
  --cn-sidebar-primary-foreground: oklch(0.985 0 0);
  --cn-sidebar-accent: oklch(0.97 0 0);
  --cn-sidebar-accent-foreground: oklch(0.205 0 0);
  --cn-sidebar-border: oklch(0.922 0 0);
  --cn-sidebar-ring: oklch(0.708 0 0);
}
@theme inline {
  --color-cn-background: var(--cn-background);
  --color-cn-foreground: var(--cn-foreground);
  --color-cn-card: var(--cn-card);
  --color-cn-card-foreground: var(--cn-card-foreground);
  --color-cn-popover: var(--cn-popover);
  --color-cn-popover-foreground: var(--cn-popover-foreground);
  --color-cn-primary: var(--cn-primary);
  --color-cn-primary-foreground: var(--cn-primary-foreground);
  --color-cn-secondary: var(--cn-secondary);
  --color-cn-secondary-foreground: var(--cn-secondary-foreground);
  --color-cn-muted: var(--cn-muted);
  --color-cn-muted-foreground: var(--cn-muted-foreground);
  --color-cn-accent: var(--cn-accent);
  --color-cn-accent-foreground: var(--cn-accent-foreground);
  --color-cn-destructive: var(--cn-destructive);
  --color-cn-destructive-foreground: var(--cn-destructive-foreground);
  --color-cn-border: var(--cn-border);
  --color-cn-input: var(--cn-input);
  --color-cn-ring: var(--cn-ring);
  --color-cn-chart-1: var(--cn-chart-1);
  --color-cn-chart-2: var(--cn-chart-2);
  --color-cn-chart-3: var(--cn-chart-3);
  --color-cn-chart-4: var(--cn-chart-4);
  --color-cn-chart-5: var(--cn-chart-5);
  --radius-cn-sm: calc(var(--cn-radius) - 4px);
  --radius-cn-md: calc(var(--cn-radius) - 2px);
  --radius-cn-lg: var(--cn-radius);
  --radius-cn-xl: calc(var(--cn-radius) + 4px);
  --color-cn-sidebar: var(--cn-sidebar);
  --color-cn-sidebar-foreground: var(--cn-sidebar-foreground);
  --color-cn-sidebar-primary: var(--cn-sidebar-primary);
  --color-cn-sidebar-primary-foreground: var(--cn-sidebar-primary-foreground);
  --color-cn-sidebar-accent: var(--cn-sidebar-accent);
  --color-cn-sidebar-accent-foreground: var(--cn-sidebar-accent-foreground);
  --color-cn-sidebar-border: var(--cn-sidebar-border);
  --color-cn-sidebar-ring: var(--cn-sidebar-ring);
}
